@media only screen and (max-width: 1450px) {

    html,
    body {
        overflow-x: hidden;
    }
}

/* Navigation bar starts here */
@media only screen and (max-width: 1198px) {
    #navbar {
        flex-direction: column;
        align-items: start;
        height: 100%;
        max-height: 4.6rem;
        justify-content: start;
        overflow: hidden;
        gap: 2rem;
        transition: max-height 0.4s linear;
    }

    #navbar.responsive {
        max-height: 34rem;
    }

    #navbar .upper-navbar-part {
        align-items: start;
        justify-content: center;
        padding-left: 3rem;
        padding-top: 0.6rem;
    }

    #navbar .lower-navbar-part {
        flex-direction: column;
        gap: 1.5rem;
        align-items: start;
        padding-left: 3rem;
    }

    #navbar ul {
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 2rem;
    }

    #navbar ul li a {
        padding: 0.7rem 2rem 0.7rem 0.7rem;
    }

    #navbar .search-bar {
        justify-content: start;
        align-items: start;
        padding-top: 1.2rem;
        padding-left: 0.7rem;
    }

    .search-bar input {
        display: none;
    }

    #navbar .hamburger {
        display: block;
    }
}

/* Navigation bar ends here */






/* Home section starts here */
@media only screen and (max-width: 850px) {
    #home .main-heading-1{
        padding: 0 2rem;
        text-align: center;
    }

    #home .main-heading-2{
        padding: 0 2rem;
        text-align: center;
    }

    #home p {
        padding: 0 2rem;
        text-align: center;
    }
}

@media only screen and (max-width: 711px) {
    #home .main-heading-1{
        font-size: 2.5rem;
    }
    
    #home .main-heading-2{
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 542px) {
    #home .main-heading-1{
        font-size: 2rem;
    }
    
    #home .main-heading-2{
        font-size: 2rem;
    }

    #home p {
        font-size: 1rem;
    }
}

/* Home section ends here */





/* Service section starts here */
/* Service section ends here */





/* About us section starts here */
@media only screen and (max-width: 1270px) {
    #about-us {
        grid-template-columns: 1fr;
        place-items: center;
    }
}

@media only screen and (max-width: 666px){
    #about-us{
        padding: 4rem 2rem;
    }

    #about-us .about {
        padding-left: 0;
    }
}

@media only screen and (max-width: 342px){
    #about-us{
        padding: 4rem 0;
    }

    #about-us .img {
        padding: 0 1rem;
    }

    #about-us .about{
        padding: 0 2rem;
    }

    #about-us .about h3 {
        font-size: 1.3rem;
    }
}
/* About us section ends here */





/* Gallery section starts here */
@media only screen and (max-width: 1232px) {
    #gallery {
        padding: 4rem 3rem 0 3rem;
    }
}

@media only screen and (max-width: 1026px) {
    #gallery-section h3 {
        padding: 0 3.2rem;
        margin: 0;
    }
}

@media only screen and (max-width: 783px) {
    #gallery-section h3 {
        padding: 0;
        text-align: center;
    }
}

/* Gallery section ends here */






/* Packages section starts here */
/* Packages section ends here */






/* Book section starts here */
@media only screen and (max-width: 1178px) {
    .book-section {
        grid-template-columns: 1fr;
        padding: 0 2rem;
    }

    .book-section .book-img {
        margin: auto;
        padding-top: 4rem;
    }

    .book-section .book {
        padding-top: 0;
    }
}

@media only screen and (max-width:674px) {
    .book-section {
        place-items: center;
    }

    .book-section .book {
        padding-left: 0;
    }
}

/* Book section ends here */





/* Review section starts here */
@media only screen and (max-width: 1026px) {
    .review-section h2 {
        padding: 0 4.6rem;
    }
}

@media only screen and (max-width: 884px) {
    .review-section h2 {
        padding: 0;
        text-align: center;
    }
}

/* Review section ends here */





/* Contact us section starts here */
@media only screen and (max-width: 1177px) {
    .contact-section {
        grid-template-columns: 1fr;
        padding: 2rem 5rem;
    }

    .contact-section .contact-txt {
        padding: 2rem 2rem 0 0;
    }

    .contact-section .contact {
        padding-top: 4rem;
        padding-left: 0;
    }
}

/* Contact us section ends here */







/* Footer section starts here */
@media only screen and (max-width: 1121px) {
    .footer-section .footer-content {
        justify-content: start;
        align-items: start;
        padding: 4rem 4.5rem 1rem 4.5rem;
        gap: 3rem;
    }

    .footer-content .footer-other-sections {
        gap: 9rem;
    }
}

@media only screen and (max-width: 1026px) {
    .footer-content .footer-other-sections {
        gap: 6.8rem;
    }
}

@media only screen and (max-width: 968px) {
    .footer-content .footer-other-sections {
        gap: 5rem;
    }
}

@media only screen and (max-width: 914px) {
    .footer-content .footer-other-sections {
        gap: 3.4rem;
    }
}

@media only screen and (max-width: 856px) {
    .footer-content .footer-other-sections {
        gap: 1.5rem;
    }
}

@media only screen and (max-width: 822px) {
    .footer-content .footer-other-sections {
        gap: 1rem;
    }
}

@media only screen and (max-width: 770px) {
    .footer-content .footer-other-sections {
        flex-wrap: wrap;
        gap: 2rem;
    }
}

@media only screen and (max-width: 415px) {
    .footer-section .footer-content {
        padding: 4rem 2rem 1rem 2rem;
    }
}

/* Footer section starts here */